.emacs*
*~
*.pyc
examples/
books/
tmp/
misc/
cache/
booki-books/
epub/
tests/epub-examples/unzipped/*
tests/bad-epub/unzipped/*
tests/json/*
tests/xhtml/*
tests/booki_books/*
tests/generated-epubs/*
tests/downloaded-epubs/*

