body {
  font-family: "Nazli";
  background: #fff;
  color: #000;
}

.chapter{
  color: #000;
}

h1 .initial{
  color: #000;
  font-size: 2em;
}

.objavi-subsection{
  display: block;
  page-break-before: always;
/*  page-break-after: always;*/
  text-transform: uppercase;
  font-size: 20pt;
}

body .objavi-subsection:first-child{
  page-break-before: avoid;
}


.objavi-subsection .initial {
  font-size: 1em;
  color: #000;
}

.objavi-subsection-heading{
  font-size: 36pt;
  font-weight: bold;
}


h1 {
  text-transform: uppercase;
  page-break-before: always;
}

h2 {
  text-transform: uppercase;
}

table {
  float: none;
}

h1.frontpage{
  font-size: 64pt;
  text-align: center;
  page-break-after: always;
  page-break-before: avoid;
}

div.copyright{
  padding: 1em;
}

table.toc {
  /*border: 1px dotted #999;*/
  font-size: 17pt;
  width: 95%;
}

td.chapter {
  padding-left: 2em;
  padding-right: 2em;

}

td.section {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}

pre {
  max-width:98%;
  overflow: hidden;
}

img {
  max-width: 98%;
  height: auto !important;
}


h1, h2, h3, h4, h5, h6{
  page-break-after: avoid;
  page-break-inside: avoid;
}


.page-break{
  page-break-before: always;
  height: 7em;
  display: block;
}


.glossary hr{
  display: none;
}

/* page number styles */

#right-footer {
  text-align: right;
}

#left-footer {
  text-align: left;
}

/* examples:

#right-footer .page:before{
  content: " FLOSS Manuals ";
  font-size: 85%;
}

#left-footer .page:after{
  content: " FLOSS Manuals ";
  font-size: 85%;
}

.page-footer {
  color: red;
}
*/

