#index {
  background-color: #ff7f00;
  padding: 18px 3px 10px 12px;
  color:  #000;
  font-family: trebuchet, sans-serif;
  font-size: 10px;
  line-height: 11px;
  position: absolute;
  left:0px;
  top:150px;
  width: 170px;
}

#index-book-title {
  font-weight:bold;
}

#index ul {
  width: 159px;
  list-style-type: none;
  padding: 0px;
  border-top: 10px solid #ff7f00;
  border-bottom: 14px solid #ff7f00;
  margin: 0px 0px 0px 0px;
}


#index li {
  padding: 4px 0px 4px 0px;
  margin: 0px 10px 0px 0px;
  border-top: 1px solid #ff7f00;
  color: #ffffff;
}

#index ul li:first-child {
  border-top: 3px solid #fec;
}

#index li:hover {
  background-color: #F99B1C;
}

#index li.booki-section {
  background-color: #ff7f00;
  color: #000;
  border-top:1px solid #FFE5CC;
  padding-top: 7px;
  font-weight: bold;
}

#index li.title {
  border-bottom: 2px solid #FFE5CC;
  background-color: #ff7f00;
  color: #FBF4E9;
  font-weight: bolder;
  font-size: 10px;
  line-height: 18px;
  padding-bottom: 40px;
}

#index a {
  text-decoration: none;
  color:  #FBF4E9;
  font-weight: bold;
}

#ds-layout {
  table-layout: fixed;
  width: 670px;
  border: 5px solid #666666;
  padding: 0px;
  margin-left: 10px;
  margin-top:10px;
  background: #FFF7F0;
}

#ds-layout .imgcontainer {
  position:relative;
}

#ds-layout .caption {
  position: relative;
  bottom: 1px;
  left: 0;
  text-align: center;
  background: #ffe7cb;
  width: 100%;
  opacity: .75;
  filter: alpha(opacity=85);
  color: #000;
  font-style: italic;
  font-size: 9px;
  line-height: 11px;
}

body {
  background: url(/static/background.gif);
  margin: 0;
  color: #000;
}

#pdf {
  position: absolute;
  left: 13px;
  top: 190px;
}

#home {
  position:absolute;
  left:0px;
  top:10px;
}

div.arrow {
  position:relative;
  width:50px;
  top:5px;
  float:left;
}

div.left{
  left:10px;
}

div.right{
  left:528px;
}

#ds-contentcontainer div {
  margin-left:1.2em;
  float:right;
}

#edit-links {
  color: black;
  border: 1px;
  position: absolute;
  top:60px;
  left:502px;
}

#edit-links a {
  color:#ff7f00;
  font-size: smaller;
  text-decoration: none;
  font-weight: bold;
}

#main {
  position:absolute;
  left:240px;
  top:11px;
}

#main-content{
  margin: 30px 10px 10px 10px;
}


