#index {
  background-color: #ff7f00;
  padding: 18px 3px 10px 12px;
  color:  #000;
  font-family: trebuchet, sans-serif;
  font-size: 10px;
  line-height: 11px;
  position: absolute;
  left:0px;
  top:150px;
  width: 170px;
}

#index-book-title {
  font-weight:bold;
}

#index ul {
  width: 159px;
  list-style-type: none;
  padding: 0px;
  border-top: 10px solid #ff7f00;
  border-bottom: 14px solid #ff7f00;
  margin: 0px 0px 0px 0px;
}


#index li {
  padding: 4px 0px 4px 0px;
  margin: 0px 10px 0px 0px;
  border-top: 1px solid #ff7f00;
  color: #ffffff;
}

#index ul li:first-child {
  border-top: 3px solid #fec;
}

#index li:hover {
  background-color: #F99B1C;
}

#index li.booki-section {
  background-color: #ff7f00;
  color: #000;
  border-top:1px solid #FFE5CC;
  padding-top: 7px;
  font-weight: bold;
}

#index li.title {
  border-bottom: 2px solid #FFE5CC;
  background-color: #ff7f00;
  color: #FBF4E9;
  font-weight: bolder;
  font-size: 10px;
  line-height: 18px;
  padding-bottom: 40px;
}

#index a {
  text-decoration: none;
  color:  #FBF4E9;
  font-weight: bold;
}

.ds-contentcontainer {
  padding: 0em .5em;
}
/*#ds-contentcontainer div {
  margin-left:1.2em;
  float:right;
}
*/

#ds-layout {
  table-layout: fixed;
  width: 670px;
  border: 5px solid #666666;
  padding: 0px;
  margin-left: 10px;
  margin-top:10px;
  background: #FFF7F0;
}

#ds-layout .imgcontainer {
  position:relative;
}

#ds-layout .caption {
  position: relative;
  bottom: 1px;
  left: 0;
  text-align: center;
  background: #ffe7cb;
  width: 100%;
  opacity: .75;
  color: #000;
  font-style: italic;
  font-size: 9px;
  line-height: 11px;
}

body {
  background: url(/static/background.gif);
  margin: 0;
  color: #000;
}

#pdf {
  position: absolute;
  left: 13px;
  top: 190px;
}

#home {
  position:absolute;
  left:0px;
  top:10px;
}

div.arrow {
  position:absolute;
}

.arrow.left{
  left: 10px;
}

.arrow.right{
  right: 10px;
  text-align:right;
}

.arrow.top{
  top: 12px;
}

.arrow.bottom{
  bottom: 12px;
}


div.navbar {
  height: 30px;
}

#edit-links {
  color: black;
  border: 1px;
  position: absolute;
  top:12px;
  left:400px;
}

#edit-links a {
  color:#ff7f00;
  font-size: smaller;
  text-decoration: none;
  font-weight: bold;
}

#main {
  width: 670px;
  border: 5px solid #666666;
  padding: 0px;
  margin:0px;
  background: #FFF7F0;
  position:absolute;
  left:250px;
  top:21px;
}

#main-content{
  margin: 30px 10px 10px 10px;
}


/* Everything below here imported form typography.css */

img {
  border:0px;
}

body {
  font-family : trebuchet,verdana, sans-serif;
  font-size: 12px;
  line-height:17px;
}


a:link {
	color:#666666;
}
a:visited {
	color:#000000;
}
a:active {
	color:#000000;
}
a:hover {
	color:#000000;
}

pre, span.code, span.verbatim {
font-size: 12px;
line-height: 1.5em;
background-color: #FFE5CC;
border: 0px solid #000000;
margin-left : 0.5em;
margin-bottom : 20px;
margin-right : 1em;
padding-left: 1em;
padding-right: 1em;
padding-top: 0.2em;
padding-bottom: 0.2em;
color : black;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


hr {
  border : none;
  background-color : #666666;
  color : #000000;
  height : 2px;
  width:120px;
  margin-left:0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul, li {
  margin-bottom: 5px;
  margin-top: 0px;
}

h1, h2, h3 {
  font-family : Arial, verdana, sans-serif;
  font-weight : Bold;
  margin-bottom: 10px;
  margin-top: 0px;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding-top : 15px;
}

h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

h4, h5, h6 {font-weight : Bold;font-size: 12px;}

/*
 * this might cause more problems that it solves, but fixed-width type
 * is extremely tiny in Firefox with some sizing methods (eg with 76%
 * font-sizing)
*/

body kbd, body tt, body code {
  font-size: x-small;
}

p {
  margin-top: 1em;
}
