body {
font-family : trebuchet,verdana, sans-serif;
font-size: 12px; 
line-height:17px;
}
.button
{
        border: 3px outset #F3F3F3;
        background-color: #F3F3F3;
        padding: 0px 2px;
        cursor: default;
}
.dialog
{
	border-top: 3px solid #666;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	background-color: #F3F3F3;
	padding: 0px 2px 0px 2px;
	cursor: default;
	line-height: 20px;
}
.menu
{
	border: 1px solid #666;
	background-color: #ffa54d;
	padding: 0px 2px 0px 2px;
	cursor: default;
	line-height: 20px;
}
.keyboard_shortcuts
{
	border: 3px outset #F3F3F3;
	background-color: #F3F3F3;
	padding: 0px 2px;
	cursor: default;
	line-height: 20px;
}
.image_placeholder
{
	border: 5px solid #ff7f00;
	padding: 5px 5px 5px 5px;
	height:90px;
	width:120px;
	background-image: url('/floss/pub/TWiki/FlossSkin2/image.png');
	background-repeat : no;
}

p.writers_comment
{
	border: 5px solid #ff7f00;
	background-color: #e1e1e1;
	padding: 5px 5px 5px 5px;
}
div.tips
{
	border: 1px solid #e1e1e1;
	background-color: #fff7f0;
	padding: 5px 5px 5px 5px;
}
p.warning
{
	border: 5px solid red;
	background-color: #fff7f0;
	padding: 5px 5px 5px 5px;
}
div.definition
{
	border :1px solid #ff7f00;
	border-style: dashed;
	padding: 5px 5px 5px 5px;
}
table {
border: outset 0px; 
font-family : trebuchet,verdana, sans-serif;
font-size : 12px;
}

A:link {
	color:#666666;
}
A:visited {
	color:#000000;
}
A:active {
	color:#000000;
}
A:hover {
	color:#000000;
}


.ds-note {
border: 1px solid black; 
float: right; 
padding: .5em;
margin: .5em 0 .5em 1em; 
width: 15em; 
background-color: #FFFFBF;
}


div {
	border: 0px solid #000000;
}

div.container {
	position: relative;
	margin: 0 auto;
	width: 780px;
	height: 5000px;
}

div.left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
}

div.top {
	position: absolute;
	top: 0px;
	left: 170px;
	width: 500px;
	height: 100%;
}

div.main {
	position: absolute;
	top: 150px;
	left: 200px;
	width: 580px;
	height: 100%;
}

pre, span.Code, span.verbatim {
font-size:12px;
line-height:1.5em;
background-color:#FFE5CC;
border: 0px solid #000000;
margin-left : 0.5em;
margin-bottom : 20px;
margin-right : 1em;
padding-left: 1em;
padding-right: 1em;
padding-top: 0.2em;
padding-bottom: 0.2em;
color : black;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
			
img {
border: 0px solid #361b13; 
margin-top: 0em; 
}

.ds-kbd {
background-color: #efefef;
margin-left: 2em;
margin-right: 2em;
padding: .5em 1em .5em 1em;
font-family: monospace;
}

.ds-contentcontainer {
padding: 0em .5em .5em 0em;
}


.ds-innercontentcontainer {
line-height: 1.3;
clear: both;
padding-top: 1em;
}

.ds-nmcontent {
line-height: 1.3;
}


.ds-innercontentcontainer ol, .ds-innercontentcontainer ul, .ds-innercontentcontainer li {
line-height: 1.3em;
margin-top: 0.2em;
margin-bottom: 0.1em;
}

.ds-nmcontent ol, .ds-nmcontent ul, .ds-nmcontent li {
line-height: 1.3em;
margin-top: 0.2em;
margin-bottom: 0.1em;
}


/*
 *  a modified version of
 *  http://www.thenoodleincident.com/tutorials/typography/css/real.css
 *
 *  One could optionally remove everything below.
 */

hr {
border : none;
background-color : #666666;
color : #000000;
height : 2px;
width:120px;
margin-left:0px;
margin-bottom: 10px; 
margin-top: 10px;
}

blockquote {
}

ul, li {
margin-bottom: 5px; 
margin-top: 0px; 
}

h1 {
font-size: 24px;
font-family : Arial,verdana, sans-serif;
font-weight : Bold;
margin-bottom: 10px; 
margin-top: 0px;
line-height: 32px; 
letter-spacing: -1px; 
}

h2 {
font-size: 18px;
font-family : Arial,verdana, sans-serif;
font-weight : Bold;
margin-bottom: 10px;
margin-top: 15px;
padding-top : 15px;
}

h3 {
font-size: 14px;
font-family : Arial,verdana, sans-serif;
font-weight : Bold;
margin-bottom: 5px; 
}
 
h4 {font-weight : Bold;font-size: 12px;}
h5 {font-weight : Bold;font-size: 12px;}
h6 {font-weight : Bold;font-size: 12px;}
 

/* 
 * this might cause more problems that it solves, but fixed-width type
 * is extremely tiny in Firefox with some sizing methods (eg with 76% 
 * font-sizing)
*/
 
body kbd, body tt, body code {
font-size: x-small;
}
p { 
	margin-top: 1em; 
}























 
