
body
{
    margin:0;
    padding:0;
    background-image: url("http://www.flossmanuals.net/pub/TWiki/FlossSkin2/background.gif");
    color: black;
}

#main {
  margin: 15px 80px;
  padding: 15px;
  background: white;
}

h1 {
  color: #ff7f00;
}

h2 {
  color: #ff7f00;
}

h3 {
  color: #000000;
}

.tasklist li {
  color: #ccc;
}

.oncomplete {
  display: none;
}

input[type=text] {
  width: 400px;
}

.gone {
  display: none;
}

.hidden {
  display: none;
}

#toggle-advanced {
  color: #b00;
  margin: 5px;
  display: block;
}

#book-link {
  color: #00b;
  size: 1.5em;
  font-weight: bold;
}

.numeric-field input
{
  width: 5em;
}

div.form-item {
  margin: 5px 0px;
  clear: both;
}

.input_title {
  float: left;
  width: 200px;
  margin-right: 5px;
/*  font-weight: bold;*/
}

#submit {
  font-weight: bold;
}


#submit {
  font-weight: bold;
}


#css_div, #font_links_div{
  clear: none;
}

#css_div textarea {
  width:70%;
  height:570px;
}

#font_list_div {
  width:28%;
  float:right;
}

#font_list_div .input_title {
  float: none;
}

#font_list {
  overflow: scroll;
  height: 570px;
  display: block;
  margin: 0;
  padding: 0;
}

#font_list li {
  font-size:smaller;
  display: block;
  margin: 0px;
  border-bottom: 1px dotted #999;
}

#font_links {
  display: block;
  margin: 0;
  padding: 0;
}

#font_links li {
  display: inline-block;
  margin: 0px 3px;
}

