
body
{
    margin:0;
    padding:0;
    background-image: url("http://www.flossmanuals.net/pub/TWiki/FlossSkin2/background.gif");
    color: black;
}

#main {
  margin: 15px 100px;
  padding: 15px;
  background: white;
}

h1 {
    color: #ff7f00;
}

h2 {
    color: #ff7f00;
}

h3 {
    color: #000000;
}

.tasklist li {
  color: #ccc;
}

.oncomplete {
  display: none;
}

input[type=text] {
  width: 400px;
}

textarea {
  width:600px;
}

.gone {
  display: none;
}
.css-gone {
  display: none;
}

#toggle-advanced {
  color: #b00;
}
