<html>
  <head>
    <title>OBJAVI! II</title>
    <meta  name="robots" content="noindex" />
    <link rel="icon" href="http://www.flossmanuals.net/pub/TWiki//FlossSkin2/fl2.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/objavi.css" type="text/css" media="screen" />
  </head>

  <body>
    <form action="" method="POST" id="obform" name="obform">
    <div id="main">
        <h1>OBJAVI! The FLOSS Manuals PDF publisher</h1>

        <p id="intro">
          OBJAVI will create a print ready PDF of your manual, using
          css to define styles.
        </p>

        <table class="form" id="form"><tbody>
            <tr>
              <td>
                <label for="server">FLOSS Manuals server</label>
              </td><td>
                <select name="server" id="server">%(server_options)s</select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="webName">Manual</label>
              </td><td>
            <select name="webName" id="webName">%(book_options)s</select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="title">Book title</label>
              </td>
              <td>
                <input type="text" name="title" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="license">License</label>
              </td><td>
            <input type="text" name="license" value="GPL"/>
              </td>
            </tr>
            <tr>
              <td>
                <label for="header">Header Text</label>
              </td>
              <td>
                <input type="text" name="header" />
              </td>
            </tr>
            <tr class="advanced">
              <td>
                <label for="booksize">Page size</label>
              </td><td>
            <select name="booksize">%(size_options)s</select>
              </td>
            </tr>
            <tr class="advanced">
              <td>
                <label for="engine">Layout Engine</label>
              </td><td>
            <select name="engine">%(engines)s</select>
              </td>
            </tr>
            <tr class="advanced">
              <td>
                <label for="isbn">ISBN Number (optional)</label>
              </td><td>
                <input type="text" name="isbn" />
              </td>
            </tr>

            <tr class="advanced">
              <td>
                <label for="css-control">CSS</label>
              </td><td>
                <select name="css-control" id="css-control">
                  <option value='default' selected="selected">Server default</option>
                  <option value='url'>URL</option>
                  <option value='textarea'>Custom</option>
                </select>
              </td>
            </tr>


            <tr class="advanced" id="css-url-row">
              <td>
                <label for="css">CSS URL</label>
              </td><td>
            <input type="text" name="css" id="css-url-data" value="" />
              </td>
            </tr>
            <tr class="advanced" id="css-textarea-row">
              <td colspan="2">
            <textarea name="css" cols="60" rows="20" id="css-textarea-data"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2">
            <button>OBJAVI!</button>
          </td>
              </tr>
            </tbody>
          </table>

        </div>

    </form>
    <script src="/static/jquery.js"></script>
    <script src="/static/form.js"></script>



  </body>
</html>
