<html>
  <head>
    <title>OBJAVI! II</title>
    <meta  name="robots" content="noindex" />
    <link rel="icon" href="http://www.flossmanuals.net/pub/TWiki//FlossSkin2/fl2.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/objavi.css" type="text/css" media="screen" />
  </head>

  <body>
    <form action="" method="POST">
    <div id="main">
        <h1>OBJAVI! The FLOSS Manuals PDF publisher</h1>

        <p>
          OBJAVI will create a print ready PDF of your manual, using
          css to define styles.
        </p>

        <table><tbody>
            <tr>
              <td>
                FLOSS Manuals server
              </td>
              <td>
                <select name="server">%(server_options)s</select>
              </td>
            </tr>
            <tr>
              <td>
                Manual
              </td>
              <td>
            <select name="webName">%(book_options)s</select>
              </td>
            </tr>
            <tr class="advanced">
              <td>
            Page size
              </td>
              <td>
            <select name="booksize">%(size_options)s</select>
              </td>
            </tr>
            <tr>
              <td>
            Front page title<br />
              </td>
              <td>
            <input type="text" name="title" />
              </td>
            </tr>
            <tr>
              <td>
            Header Text <br />
              </td>
              <td>
            <input type="text" name="header" />
              </td>
            </tr>
            <tr>
              <td>
            License
              </td>
              <td>
            <input type="text" name="license" value="GPL"/>
              </td>
            </tr>
            <tr class="advanced">
              <td>
            ISBN Number (optional)
              </td>
              <td>
            <input type="text" name="isbn" />
              </td>
            </tr>
            <tr>
              <td>
            CSS
              </td>
              <td>
                <select name="css-method">
                  <option value='default'>Server default</option>
                  <option value='url'>URL</option>
                  <option value='text'>Custom</option>
                </select>
              </td>
            </tr>
            <tr class="advanced">
              <td>
                CSS URL
              </td>
              <td>
            <input type="text" name="css-url" />
              </td>
            </tr>
            <tr id="css-textarea">
              <td colspan="2">
            <textarea name="css" cols="60" rows="20">
%(css)s
            </textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2">
            <button>OBJAVI!</button>
          </td>
              </tr>
            </tbody>
          </table>

        </div>

    </form>
  </body>
</html>
