<html><head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <link rel="icon" href="http://flossmanuals.net/floss/pub/TWiki/FlossSkin2/fl2.ico" type="image/x-icon"> <link rel="shortcut icon" href="http://flossmanuals.net/floss/pub/TWiki/FlossSkin2/fl2.ico" type="image/x-icon">
<!--
<link rel="stylesheet" href="fm-book.css" type="text/css" media="print">
-->
<style>
%%STYLE%%
</style>
        </head><body>
<p>
  <div id="headerContent" class="header">
 %%CUSTOMHEADER%% 
  </div>
  <div id="footerContent" class="footer">
  <pdf:pagenumber class="footer"/>
  </div>
  <div id="headerContentLeft" class="header">
  </div>
  <div id="footerContentLeft" class="footerLeft">
  <pdf:pagenumber class="footer"/>
  </div>
        </p>
<div class="cover">%%CUSTOMTITLE%%</div>
<div class="blank">
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png" height="900px">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<br>
<img src="/floss/pub/pisa/white.png">
<p><b>Copyright :</b> The Contributors (see back) <br>
<b>Published :</b> %DATE%<br>
<b>ISBN :</b> %%CUSTOMISBN%% <br>
<b>License :</b> %%CUSTOMLICENSE%%<br>
<b>Note :</b> We offer no warranty if you follow this manual and something goes wrong. So be careful!
</p>
</div>
<div class="blank"></div>
<h1 class="toc" style="-pdf-outline: false;">Table of Contents</h1>

<pdf:toc />  <!-- pisa breaks if any heading contains &amp; entity -->
        <div id="content">
%%BODY%%
</div>
<div class="blank">
</div><div style="font-family:TimesFM;font-size:0px;">.</div>
<div style="font-family:HelveticaFM;font-size:0px;">.</div>
</body></html>
